@import url('https://fonts.googleapis.com/css2?family=Acme&family=DynaPuff:wght@400..700&family=Kaushan+Script&family=Yellowtail&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Acme", sans-serif;
  text-decoration: none;
  scrollbar-color: #e99500 #f7f5f2;
}

body {
  background: #F7F6EB;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
  border-bottom: 4px solid #854D27;
  margin: 0 2%;
}

nav .action{
  flex: 3;
}

nav .action button {
  font-family: "Kaushan Script", cursive;
  background-color: #ECA400;
  color: #f4f0e4;
  border: 2px solid #ECA400;
  border-radius: 20px;
  padding: 0.5em 1em;
  font-size: 1.1em;
  cursor: pointer;
  margin-left: 75%;
  margin-right: 0.5rem;
  width: 9rem;
  transition: 200ms;
}

nav .action button:hover{
  background-color: #f4f0e4;
  color: #ECA400;
  border: 2px solid #ECA400;
}

.headline {
  text-align: center;
  font-family: 'Yellowtail';
  font-weight: 100;
  font-size: 2.3rem;
  margin-top: 2rem;
}
.headline span {
  color: #ECA400;
  font-family: 'Yellowtail';
  font-weight: 900;
}

.add-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  padding: 0 0 0.4rem 0;
  font-size: 4rem;
  background: linear-gradient(#ff9a00, #cd8e00);
  color: #ffffff;
  border: 5px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
  font-family: "Acme", sans-serif;
  width: 3.6rem;
  line-height: 3rem;
  transition: 200ms;
}
.add-button:hover{
  opacity: 0.8;
}

.note-form , .login-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  margin: 2rem 0;
}

.note-form textarea, 
.note-form input,
.note-form button,
.login-form input,
.login-form button {
  width: 55%;
  padding: 1em;
  font-size: 1em;
  border: none;
  border-radius: 18px;
  background-color: #fff;
  outline: 2px solid #ae9c74;
  letter-spacing: 1px;
}

.note-form textarea{
  field-sizing: content;
  min-height: 20vh;
}

.note-form button, 
.detail-button, 
.login-form button {
  background: linear-gradient(#ff9a00, #cd8e00);
  width: 20%;
  outline: none;
  color: #fff;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  letter-spacing: 0px;
  cursor: pointer;
  transition: 200ms;
}

.detail-button{
  border-radius: 14px;
  text-align: center;
  width: 40%;
  border: none;
}

.note-form button:hover, .detail-button:hover{
  opacity: 0.8;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
  margin: 2rem 0;
  margin-bottom: 5rem;
  
}

.note-card {
  display: flex;
  flex-direction: column;
  gap: 1em;
  background-color: #fff;
  padding: 0.5em 1em;
  width: 20%;
  min-height: 135px;
  margin: 1em;
  box-shadow: 0px 6px 5px rgba(23, 33, 33, 0.25);
  border-radius: 10px;
  height: fit-content;
}

.noteCard .title,
.note-details .title {
  color: #ECA400;
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
  font-size: 2.3rem;
}

.noteCard .details,
.note-details .details {
  color: #333;
}

.container {
  padding: 1em;
}

.note-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
  background-color: #fff;
  margin: 0 auto;
  margin-top: 5em;
  padding: 1em;
  width: 80%;
  font-size: 1em;
  border: none;
  border-radius: 18px;
  outline: 2px solid #ae9c74;
  letter-spacing: 1px;
}
  

.note-details .action {
  display: flex;
  justify-content: space-around;
  width: 300px;
}

.swal2-popup{
  background: #f4f0e4 !important;
}
.swal2-actions{
  gap: 1rem;
}
.swal2-actions button{
  background: linear-gradient(#ff9a00, #cd8e00);
  width: 5rem;
  outline: none;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: 200ms;
}

.swal2-actions button:hover{
  opacity: 0.8;
}

.inactive{
  color: #bdac86 !important;
  font-weight: 100 !important;
  cursor: pointer;
  transition: 200ms;
}
.inactive:hover{
  color: #947b46 !important;
}